@page "/"
@using Microsoft.Extensions.Logging
@using WYW.Data
@inject IJSRuntime JSRuntime;
@using BlazorStrap;

<BSTabGroup ShowEvent="@Show" HiddenEvent="@Hidden" HideEvent="@Hide" ShownEvent="@Shown">
    <BSTabList>
        <BSTab>
            <BSTabLabel>Moje Loty</BSTabLabel>
            <BSTabContent>
                <div class="card m-3">
                    <h2 class="card-header"> TWÓJ LAT: </h2> 
                    </div>
                    <br>
                        @if (chosenFlightInfo != null)
                        {
                            <BSTable>
                                <BS_thead>
                                    <BS_tr>
                                        <BS_th scope="col">STATUS LOTU</BS_th>
                                        <BS_th scope="col">CZAS DO ODLOTU</BS_th>
                                        <BS_th scope="col">TERMINAL</BS_th>
                                        <BS_th scope="col">BRAMKA</BS_th>
                                    </BS_tr>
                                </BS_thead>
                                <BS_tbody>
                                    <BS_tr>
                                        <BS_td>@chosenFlightInfo.FlightInfo.status</BS_td>
                                        <BS_td>@($"{chosenFlightInfo.TimeToDeparture:h\\:mm}")</BS_td>
                                        <BS_td>@chosenFlightInfo.FlightInfo.departure.terminal</BS_td>
                                        <BS_td>@chosenFlightInfo.FlightInfo.departure.gate</BS_td>
                                    </BS_tr>
                                </BS_tbody>
                            </BSTable>
                        }
                        else
                        {
                            <p>Wybierz lot z zakładki odloty</p>
                        }
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Przyloty</BSTabLabel>
                <BSTabContent>
                    <BSTable>
                        <BS_thead>
                            <BS_tr>
                                <BS_th scope="col">DODAJ</BS_th>
                                <BS_th scope="col">NUMER LOTU</BS_th>
                                <BS_th scope="col">CZAS DO PRZYLOTU</BS_th>
                            </BS_tr>
                        </BS_thead>
                        <BS_tbody>
                            @foreach (var record in flightInfos)
                            {
                            @if (record.FlightInfo.type == "arrival")
                                {
                            <BS_tr>
                                <BS_td>
                                    <BSButton Color="Color.Primary" @onclick="() => GetFlightDetailsIMainTab(record)">Dodaj</BSButton>
                                </BS_td>
                                <BS_td>

                                    <BSButton Color="Color.Primary" @onclick="() => ExpandFlight(record)">@record.FlightInfo.flight.iataNumber</BSButton>
                                </BS_td>
                                <BS_td>@($"{record.TimeToArrival:h\\:mm}")</BS_td>
                            </BS_tr>
                            <BSCollapse IsOpen="@record.IsOpen">
                                <BS_tr>
                                    <BSCard CardType="CardType.Card">
                                        <BSCard CardType="CardType.Text">Flight details</BSCard>
                                        <BSTable>
                                            <BS_thead>
                                                <BS_tr>
                                                    <BS_th scope="col">FLIGHT STATUS / ACTION</BS_th>
                                                    <BS_th scope="col">DEPARTURE TIME</BS_th>
                                                    <BS_th scope="col">TERMINAL</BS_th>
                                                    <BS_th scope="col">GATE</BS_th>
                                                </BS_tr>
                                            </BS_thead>
                                            <BS_tbody>
                                                <BS_tr>
                                                    <BS_td>@record.FlightInfo.status</BS_td>
                                                    <BS_td>@TimeZoneService.GetLocalDateTime(record.FlightInfo.departure.scheduledTime)</BS_td>
                                                    <BS_td>@record.FlightInfo.departure.terminal</BS_td>
                                                    <BS_td>@record.FlightInfo.departure.gate</BS_td>
                                                </BS_tr>
                                            </BS_tbody>
                                        </BSTable>
                                    </BSCard>
                                </BS_tr>
                            </BSCollapse>
                                }
                            }
                        </BS_tbody>
                    </BSTable>
                </BSTabContent>
            </BSTab>
            <BSTab>
                <BSTabLabel>Odloty</BSTabLabel>
                <BSTabContent>
                    <BSTable>
                        <BS_thead>
                            <BS_tr>
                                <BS_th scope="col">DODAJ</BS_th>
                                <BS_th scope="col">NUMER LOTU</BS_th>
                                <BS_th scope="col">LOT DO</BS_th>
                                <BS_th scope="col">CZAS DO ODLOTU</BS_th>
                            </BS_tr>
                        </BS_thead>
                        <BS_tbody>
                            @foreach (var record in flightInfos)
                            {
                                @if (record.FlightInfo.type == "departure")
                                {
                                    <BS_tr>
                                        <BS_td>
                                            <BSButton Color="Color.Primary" @onclick="() => GetFlightDetailsIMainTab(record)">Dodaj</BSButton>
                                        </BS_td>
                                        <BS_td>@record.FlightInfo.flight.iataNumber</BS_td>
                                        <BS_td>@record.FlightInfo.arrival.iataCode</BS_td>
                                        <BS_td>@($"{record.TimeToDeparture:h\\:mm}")</BS_td>
                                    </BS_tr>
                                }
                            }
                        </BS_tbody>
                    </BSTable>
                </BSTabContent>
        </BSTab>
    </BSTabList>
    <BSTabSelectedContent/>
</BSTabGroup>
