@page "/"
@using Microsoft.Extensions.Logging
@using WYW.Data
@inject IJSRuntime JSRuntime;
@using BlazorStrap;

<BSTabGroup ShowEvent="@Show" HiddenEvent="@Hidden" HideEvent="@Hide" ShownEvent="@Shown">
    <BSTabList>
        <BSTab>
            <BSTabLabel>Moje Loty</BSTabLabel>
            <BSTabContent>
                <div class="card m-3">
                    <h2 class="card-header"> Enter Your Flight Number: </h2> 
                        <div class="card-body">
                            <EditForm Model="@inputfdModel" OnValidSubmit="@HandleValidSubmit">
                            <div class="form-row">
                                <div class="form-group col">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <InputSelect id="flightno" @bind-Value="inputfdModel.Name" class="form-control">
                                    @foreach (var value in ApiService.RecentResponse.LastResponse)
                                    {
                                        <option value=@value.flight.iataNumber>@value.flight.iataNumber</option>
                                    }
                                    </InputSelect>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Check</button>
                                </div>
                                <div class="form-group col">
                                    <button class="btn btn-primary" type="submit">Subscribe</button>
                                </div>
                            </div>
                            </EditForm>
                        </div>
                    </div>
                    <br>
                        @if (!userFilledFlightNumber)
                        {
                        }
                        else if (flightInfo != null)
                        {
                            <BSTable>
                                <BS_thead>
                                    <BS_tr>
                                        <BS_th scope="col">FLIGHT STATUS / ACTION</BS_th>
                                        <BS_th scope="col">DEPARTURE TIME</BS_th>
                                        <BS_th scope="col">TERMINAL</BS_th>
                                        <BS_th scope="col">GATE</BS_th>
                                    </BS_tr>
                                </BS_thead>
                                <BS_tbody>
                                    <BS_tr>
                                        <BS_td>@flightInfo.status</BS_td>
                                        <BS_td>@flightInfo.departure.scheduledTime.ToLocalTime()</BS_td>
                                        <BS_td>@flightInfo.departure.terminal</BS_td>
                                        <BS_td>@flightInfo.departure.gate</BS_td>
                                    </BS_tr>
                                </BS_tbody>
                            </BSTable>
                        }
                        else
                        {
                            <p>Flight not found</p>
                        }
            </BSTabContent>
        </BSTab>
        <BSTab>
            <BSTabLabel>Przyloty</BSTabLabel>
                <BSTabContent>
                    <BSTable>
                        <BS_thead>
                            <BS_tr>
                                <BS_th scope="col">DODAJ</BS_th>
                                <BS_th scope="col">NUMER LOTU</BS_th>
                                <BS_th scope="col">CZAS DO PRZYLOTU</BS_th>
                            </BS_tr>
                        </BS_thead>
                        <BS_tbody>
                            @foreach (var record in flightInfos)
                            {
                                @if (record.FlightInfo.type == "arrival")
                                {
                                    <BS_tr>
                                        <BS_td>
                                            <BSButton Color="Color.Primary" @onclick=@GetFlightDetailsIMainTab>Dodaj</BSButton>
                                        </BS_td>
                                        <BS_td >
                                            
                                            <BSButton Color="Color.Primary" @onclick="() => ExpandFlight(record)">@record.FlightInfo.flight.iataNumber</BSButton>
                                            @*
                                                <BSCollapse IsOpen="@record.IsOpen">
                                                    <BSCard CardType="CardType.Card">
                                                    <BSCard CardType="CardType.Text">Flight details</BSCard>
                                                    </BSCard>
                                                </BSCollapse>
                                            *@
                                            @record.FlightInfo.flight.iataNumber
                                        </BS_td>
                                        <BS_td>@($"{record.TimeToArrival:h\\:mm}")</BS_td>
                                    </BS_tr>
                                }
                            }
                        </BS_tbody>
                    </BSTable>
                </BSTabContent>
            </BSTab>
            <BSTab>
                <BSTabLabel>Odloty</BSTabLabel>
                <BSTabContent>
                    <BSTable>
                        <BS_thead>
                            <BS_tr>
                                <BS_th scope="col">DODAJ</BS_th>
                                <BS_th scope="col">NUMER LOTU</BS_th>
                                <BS_th scope="col">LOT DO</BS_th>
                                <BS_th scope="col">CZAS DO ODLOTU</BS_th>
                            </BS_tr>
                        </BS_thead>
                        <BS_tbody>
                            @foreach (var record in flightInfos)
                            {
                                @if (record.FlightInfo.type == "departure")
                                {
                                    <BS_tr>
                                        <BS_td>
                                            <BSButton Color="Color.Primary">Dodaj</BSButton>
                                        </BS_td>
                                        <BS_td>@record.FlightInfo.flight.iataNumber</BS_td>
                                        <BS_td>@record.FlightInfo.arrival.iataCode</BS_td>
                                        <BS_td>@($"{record.TimeToDeparture:h\\:mm}")</BS_td>
                                    </BS_tr>
                                }
                            }
                        </BS_tbody>
                    </BSTable>
                </BSTabContent>
        </BSTab>
    </BSTabList>
    <BSTabSelectedContent/>
</BSTabGroup>
