@page "/"
@using Microsoft.Extensions.Logging
@inject IJSRuntime JSRuntime;

<div class="card m-3">
    <h2 class="card-header"> Enter Your Flight Number: </h2> 
        <div class="card-body">

            <EditForm Model="@inputfdModel" OnValidSubmit="@HandleValidSubmit">
                <div class="form-row">
                        <div class="form-group col"> 
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                        </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">    
                        <InputText id="flightno" @bind-Value="inputfdModel.Name" />
                    </div>
                    </div> 
                <div class="form-row">
                    <div class="form-group col">  
                        <button class="btn btn-primary" type="submit" @onclick="HandleValidSubmit">Check</button>
                    </div>
                    <div class="form-group col">  
                        <button class="btn btn-primary" type="submit" >Subscribe</button>
                    </div>
                </div> 
            </EditForm>
        </div>
</div>

<br>
@if (!userFilledFlightNumber)
{

}
else if (flightInfo != null)
{
    <table class="table">
        <tbody>
            <tr>
                <td><b>FLIGHT STATUS / ACTION</b></td>
            </tr>
            <tr>
                <td>@flightInfo.status</td>
            </tr>
            <tr>
                <td><b>TIME TO DEPARTURE</b></td>
            </tr>
            <tr>
                <td>@($"{TimeToDeparture:h\\:mm}")</td>
            </tr>
            <tr>
                <td><b>TERMINAL</b></td>
            </tr>
            <tr>
                <td>@flightInfo.departure.terminal</td>
            </tr>
            <tr>
                <td><b>GATE</b></td>
            </tr>
            <tr>
                <td>@flightInfo.departure.gate</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <p>Flight not found</p>
}


